{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
Choosing an ID
{% endblock %}


{% block content %}
<p> The person with whom you will be matched chose a personal ID that is a combination of (i) an 8-digit alpha-numeric string of characters and (ii) an icon.
</p>

<p> They first chose the 8-digit alpha-numeric string of characters and were shown the screen displayed below:
</p>
<img src="{% static img%}" alt="ID Choice" style="border: 5px solid #555;">

<p> Every participant who has chosen a personal ID was shown the exact same options for the 8-digit alpha-numeric string as displayed above, but the order of the list of options was randomized.
</p>

{% delayed_next wait=1000 label='NEXT'%}

{% endblock %}



<!--
<div class = "mc-ma">
    {{players.otherID.label}}
    <ul>
        {% for choice in player.otherID %}
    <li>
        <label>{{choice.tag}}{{choice.choice_label}}</label>
    </li>
    {% endfor %}
    </ul>
</div> -->
