{% load static %}

{% block content %}
<input type="hidden" name="{{field_name}}"/>
<div id="counting-box">
<img src="{% static img %}" class="rounded mx-auto d-block">
<div class="row">
<div class="col"></div>
<div class="col">
<form>
    <div class="form-group text-center">
        <label for="num_zeros">Number of zeros:</label>
        <div class="row"><div class="col"></div>
        <input id="answer_input" type="number" class="form-control col text-center" id="num_zeros">
        <div class="col"></div></div>
        <div class="row"><div class="col"></div>
        <button id="submit-answer" class="col btn btn-success" type="button">Submit</button>
        <div class="col"></div></div>
    </div>
</form>
</div>
<div class="col"></div>
</div>
</div>


{% endblock %}

{% block modals %}
<div class="modal fade" id="invalid-selection-modal" tabindex="-1" role="dialog"
    aria-labelledby="invalid-selection-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invalid-selection-modal-label">Invalid Selection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please input a number between 0 and 49
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You answered: <b id="player-answer"></b></p>

                <p>This was <b id="correct-answer"></b></p>
            </div>
            <div class="modal-footer">
                {% if next_page %}
                    <button id="modal-continue" class="btn btn-success otree-btn-next next-button otree-next-button">Continue</button>
                {% else %}
                    <button id="modal-continue" type="button" class="btn btn-success" data-dismiss="modal">Continue</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block show_button_script %}
    <script src="{% static "global/_md5.js" %}" type="text/javascript"></script>
    <script type="text/javascript">$(() => {
        const submit = function() {
            const answer = parseInt($('#answer_input').val());
            if (md5($('#answer_input').val()) === "{{answer}}") {
                $('[name="{{field_name}}"]').attr('value', 'True');
                $('#correct-answer').text("correct");
            } else {
                $('[name="{{field_name}}"]').attr('value', 'False');
                $('#correct-answer').text("incorrect");
            }
            if (answer >= 0 && answer <= 49) {
                // Bypass modal by clicking the modal continue button instead of displaying the modal
                $('#modal-continue').click();
                // $('#submit-modal').modal('show');
                // $('#player-answer').text(answer);
                // $('#answer_input').prop('disabled', true);
                // $('#submit-answer').prop('disabled', true);
            } else {
                // Still show the invalid selection modal
                $('#invalid-selection-modal').modal('show');
            }
        }

        $(document).keydown(function (event) {
            if ( event.which == 13 ) {
                event.preventDefault();
            }
        });

        $('#submit-answer').click(submit);
        if ("{{next_page}}" == "True") {
            $('#submit-modal').on('hidden.bs.modal', function () {
                $('.next-button').click();
            });
        }
    });
    </script>
{% endblock %}
