
{% block content %}
<div id="next-section" style="display: none;">
<div id="next-section">
{% if wait_time > 0 %}
<p><b>Please click {{label}} when you are ready.</b></p>
{% endif %}

{% if label == "NEXT"%}
<div class="row">
    <div class="col-11"></div>
    <button id="delayed-next-button" class="col-1 next_button btn btn-outline-dark">{{label}}</button>
</div>
{% elif label == "SUBMIT" or label == "START" or label == "CHECK ANSWERS" %}
<div class="row">
    <div class="col-4"></div>
    <button id="delayed-next-button" class="col-4 next_button btn btn-outline-dark">{{label}}</button>
    <div class="col-4"></div>
</div>
{% endif %}
</div>
{% endblock %}

{% block show_button_script %}
    <script type="text/javascript">$(() => {
         const wait = {{wait_time}}
         setTimeout(() => {
             $('#next-section').show();
         }, wait);
    });
    </script>
{% endblock %}
