{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final questionnaire
{% endblock %}

{% block content %}
    <p>
        To conclude, we'll ask you a series of questions where there aren't any
        right or wrong answers. We are only interested in your opinions
        personal. We are interested in what characteristics they are associated with
        the behaviors of the people in this study. <strong> The answers that
        you provide will in no way affect your earnings in this
        study and are kept confidential </strong>.
    </p>
    <p>
        Click Next to start the questionnaire.
    </p>
    {% next_button %}

{% endblock %}
