{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire page 1 of 2
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            Below you will find a number of statements regarding
            men and women and their relationships in contemporary society.
            Please indicate the degree of agreement or disagreement with each
            of the following statements.
        </div>
    </div>
    {% formfields %}
    {% next_button %}
{% endblock %}

{% block styles %}
    <style>
    .table td{
        text-align:center;}
    </style>
{% endblock %}