{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you for participating
{% endblock %}

{% block content %}
    <p>
        Thank you for participating. You have completed the study.
    </p>
    <p>
        Your earnings are composed as follows:
    </p>
        <ul>
            <li>
                <strong> {{session.config.partfee}} € </strong>
                for participation.
            </li>
            <li>
                <strong> {{pt1earn}} € </strong>
                for the puzzles you solved in part 1.
            </li>
            <li>
                <strong> {{pt3earn}} € </strong>
                for the puzzles you and your partner solved in part 3.
            </li>
        </ul>
    <p>
        So, you have earned <strong> {{player.payment}} € </strong> in total.
        We will send you the money via PayPal within 2 weeks. If you do not have
        received your earnings after 2 weeks, contact us.
    </p>
    <p>
    <strong> <u> Optional </u> </strong>: If you want to know the results of
        this study, we will be more than happy to send you the article by e-mail
        once this study is finished.
    </p>
    <div style="text-align: center;">
    <button name="send_results" value="False" class="btn btn-primary">
        No, I do not wish to receive the article
    </button>
    <button name="send_results" value="True" class="btn btn-primary">
        Yes, I would like to receive the article
    </button>
    </div>
{% endblock %}


