{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Task 2: Instructions
{% endblock %}

{% block content %}
<head>
  <title></title>
</head>
<body>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
  <img id="avatar" src="{% static va_img_path %}" width="250" height="250" />
  <p style="margin-top: 10px;"><b>{{va_name}}</b></p>
</div>

<p>
  We'd like for you to predict how many of <b>{{va_name}}'s</b> turns will result in a correct move.
  Once this task is done, <b>{{va_name}}</b> will have had {{va_turns}} turns.
</p>

<p>
  You can <b>earn additional money</b> based on the accuracy of your prediction, if this task is randomly chosen for payment.
</p>

<p>
  Clicking the button below will provide a detailed description of how you will be paid for your prediction.
  You do not need to know it in detail, except that the procedure is designed so that <b>it is in your best interest to state your prediction as accurately and truthfully as possible.</b>
</p>
<div style="text-align: center;">
  <button type="button" onclick="show_hide_Instructions()">Show/Hide Additional Details</button>
</div>
    <div id="instructions">
      <div class="card bg-secondary text-white m-3">
        <div class="card-body">
          <iframe src= "{% static details %}" width="100%" height="500px">
          </iframe>
        </div>
      </div>
      <p>If you are unable to see the embedded document above, please click <a target = "_blank" href='https://virtual-experimental-lab.github.io/virtual-experimental-lab.github.io/Prediction%20Payment.pdf'>here</a>
      </p>
    </div>
<style>
    #instructions {
      display: none;
    }
</style>
<script>
function show_hide_Instructions() {
  var x = document.getElementById("instructions");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<p>
  Out of <b>{{va_turns}} turns</b>, how many <b>correct moves</b> do you think <b>{{va_name}}</b> will make?
</p>

{% formfield player.initial_guess %}

<p>
Once you click NEXT, you will move directly into this Task.
You'll have a few seconds to collect yourself and then you will be shown the first Slider Puzzle.
Please only click NEXT if you are ready for your first turn.
</p>

  <!-- {% delayed_next wait=15000%} -->
    {% delayed_next wait=500 label='NEXT'%}

{% endblock %}
