{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Task 2: Instructions
{% endblock %}

{% block content %}
<head>
  <title></title>
</head>
<body>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
  <img id="avatar" src="{% static va_img_path %}" width="250" height="250" />
  <p style="margin-top: 10px;"><b>{{va_name}}</b></p>
</div>

<p>
  We'd like for you to estimate how many of <b>{{va_name}}'s</b> turns will result in a correct move.
  Once this task is done, <b>{{va_name}}</b> will have had {{va_turns}} turns.
</p>

<p>
  Out of <b>{{va_turns}} turns</b>, how many <b>correct moves</b> do you think <b>{{va_name}}</b> will make?
</p>

{% formfield player.initial_guess %}

<p>
Once you click NEXT, you will move directly into this Task.
You'll have a few seconds to collect yourself and then you will be shown the first Slider Puzzle.
Please only click NEXT if you are ready for your first turn.
</p>

  <!-- {% delayed_next wait=15000%} -->
    {% delayed_next wait=500 label='NEXT'%}

{% endblock %}
