{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Istruzioni generali
{% endblock %}

{% block content %}
    <p>
        <strong><u>Indicazioni generali</u></strong>:
        questo studio è composto da <strong>3 parti</strong> e da
        un questionario finale.
        Il tutto durerà circa <strong>1 ora</strong>.
        All'inizio di ogni parte riceverai istruzioni specifiche,
        seguite da una serie di domande di comprensione. Devi rispondere
        correttamente a queste domande di comprensione per procedere.
    </p>
    <p>
        <strong><u>Il tuo pagamento</u></strong>:
        ti sono garantiti
        <strong>{{ session.config.partfee }}€</strong>
        per la tua partecipazione,
        ma puoi guadagnare fino a
        <strong>{{ session.config.max_earning }}€</strong>
        a seconda di quanto sarai bravo a risolvere esercizi.
        Questo consistono nel risolvere dei puzzle scorrevoli,
        come quello mostrato qui di seguito.
    </p>
    <p>
        <img src="{% static 'puzzle_2_0.png' %}" width='200'/>
    </p>
    <p>
        <strong><u>Privacy</u></strong>:
        le altre persone che partecipano a questo studio possono vedere
        il tuo nome. A parte il tuo nome, gli altri partecipanti non
        vedranno alcuna altra informazione su di te.
        <strong>Alla conclusione dello studio, tutte le informazioni di
        identificazione verranno rimosse e i dati saranno trattati
        in maniera riservata</strong>.
        Se c'è più di un partecipante con lo stesso
        nome, aggiungiamo un numero alla fine del tuo nome
        (ad esempio, Marco2).
    </p>
    <p>
        <strong><u>Regole generali</u></strong>:
        durante lo studio, si prega di spegnere la videocamera e il microfono,
        e non comunicare con nessuno tranne noi. Inoltre, si prega di non
        aggiornare la pagina o chiudere il browser in quanto potrebbe rendere
        il puzzle irrisolvibile. In caso di domande o di problemi, inviaci
        una chat privata su Zoom.
    </p>

{% endblock %}
