{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    General instructions
{% endblock %}

{% block content %}
    <p>
        <strong><u>General instructions</u></strong>:
        this study consists of <strong>3 parts</strong> and
        a final questionnaire.
        Everything will last about <strong>1 hour </strong>.
        At the beginning of each part you will receive specific instructions,
        followed by a series of comprehension questions. You must reply
        correctly to these comprehension questions to proceed.
    </p>
    <p>
        <strong><u>Your payment</u></strong>:
        they are guaranteed to you
        <strong>{{session.config.partfee}}€</strong>
        for your participation,
        but you can earn up to
        <strong>{{session.config.max_earning}}€</strong>
        depending on how good you are at solving exercises.
        This consists in solving sliding puzzles,
        like the one shown below.
    </p>
    <p>
        <img src="{% static 'puzzle_2_0.png' %}" width='200'/>
    </p>
    <p>
        <strong> <u> Privacy </u> </strong>:
        other people participating in this study can see
        your name. Aside from your name, the other attendees don't
        they will see no other information about you.
        <strong> At the conclusion of the study, all information of
        identification will be removed and the data will be processed
        confidentially </strong>.
        If there is more than one participant with the same
        name, let's add a number at the end of your name
        (for example, Marco2).
    </p>
    <p>
        <strong> <u> General rules </u> </strong>:
        while studying, please turn off the camera and microphone,
        and don't communicate with anyone but us. Also, please don't
        refresh the page or close the browser as it could render
        the unsolvable puzzle. If you have any questions or problems, please send us
        a private chat on Zoom.
    </p>

{% endblock %}
