{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Registration page 1 of 2
{% endblock %}

{% block content %}
    <p>
        Fill in the following fields. Make sure they match the information
        you have registered on ORSEE so that we can send you the payment
        after the session.
    </p>
    <p>
        N.B. Capitalize only the first letter of your first and last name.
    </p>
    <p>
        Good examples: Marco Rossi; Maria Bianchi; Anna Maria Gallo
    </p>
    <p>
        Bad examples: MARCO ROSSI; maria bianchi; Anna maria Gallo
    </p>
    {% formfields %}
    {% next_button %}

{% endblock %}
