{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions for part 3 of 3
{% endblock %}

{% block content %}
    <p>
        In this part, you will be solving puzzles with your partner
        for <strong> 12 minutes </strong> by moving the tiles in turn,
        and both you and your partner will earn
        <strong> {{session.config.pt3rate}} € for each puzzle </strong>
        that you will solve. There is a maximum of 20 puzzles that you and your partner
        you can solve (so the maximum gain is € 20 for each of you).
        As in part 2, one of you will be chosen at random to make the first
        move at the beginning of each puzzle.
    </p>
    <p>
        <strong> <u> Understanding questions </u> </strong>: <br>
        Before proceeding, answer the following comprehension questions.
        After answering, click Next.
    </p>
    {% formfields %}

    {% next_button %}

{% endblock %}
