{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your partner in part 3
{% endblock %}

{% block styles %}
    <style type="text/css">
        .slider_game td {
            width: 100px;
            height: 100px;
        }
        .vspace {
            margin-top: 1em;
        }

        .center {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <p>
        Based on your choices and those of 7 other people,
        <strong> {{otherid}} </strong> became your partner for part 3.
    </p>

    {% next_button %}
{% endblock %}


