{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
      table {
        border-collapse: separate;
        border-spacing: 15px 0;
      }
    </style>
{% endblock %}

{% block title %}
    Instructions for part 3 of 6
{% endblock %}

{% block content %}
    <p>
        <strong> <u> Example 3 </u> </strong>:
    </p>
    <p>
        Finally, consider the following puzzle.
    </p>
    <p>
        <img src="{% static 'puzzle_3_0.png' %}" width='200'/>
    </p>
    <p>
        This puzzle is a little tricky, but note that the top row
        it is already in the correct order. So, let's keep the top row
        as it is and think about the remaining part.
        <strong> When the top line is in the correct order, you should
        always keep it as it is </strong>.
        So, think of this puzzle as the following simpler puzzle.
    </p>
    <p>
        <img src="{% static 'puzzle_3_0_2x3.png' %}" width='200'/>
    </p>
    <p>
        You could solve the puzzle by trial and error. However,
        there is also a general rule for solving the puzzle faster:
        <strong> after placing the top row in the correct order,
        you should proceed by arranging the left column in order
        correct </strong>.
        In this example there are two possible moves: move the 4 to the right
        or move the 7 down. What is the fastest way to fix
        the left column in the correct order based on how much we have
        just said?
    </p>
    <p>
        Let's try to move the 4 to the right.
    </p>
    <p>
        <img src="{% static 'puzzle_3_1_bad_0.png' %}" width='200'/>
    </p>
    <p>
        Now the only tile you can move is 8.
        So let's move it down.
    </p>
    <p>
        <img src="{% static 'puzzle_3_1_bad_1.png' %}" width='200'/>
    </p>
    <p>
        Now, if you ignore the top row which is already in the correct order,
        the only tile you can move is 7. So, let's move it to the left.
    </p>
    <p>
        <img src="{% static 'puzzle_3_1_bad_2.png' %}" width='200'/>
    </p>
    <p>
        Then, move the 4 up, the 8 to the right and finally the 7 down.
        By doing so, you have placed the left column in the correct order.
        You have moved the tiles seven times so far.
    </p>
    <p>
        <img src="{% static 'puzzle_3_1_bad_3.png' %}" width='200'/>
    </p>
    <p>
        Now we also leave the left column as it is.
    </p>
    <p>
        <img src="{% static 'puzzle_3_1_bad_3_2x2.png' %}" width='133.33'/>
    </p>
    <p>
        Then you can solve the puzzle by moving the 5 to the left and
        then 6 at the top. With this method,
        <strong> you moved the tiles nine times in total </strong>.
    </p>
    <p>
        Let's go back to the initial puzzle.
    </p>
    <p>
        <img src="{% static 'puzzle_3_0.png' %}" width='200'/>
    </p>
    <p>
        This time, let's try to move the 7 down.
    </p>
    <p>
        <img src="{% static 'puzzle_3_1_good.png' %}" width='200'/>
    </p>
    <p>
        Then move the 8 to the right, the 4 to the top and, finally, the 7 to the left.
        You have now arranged the left column in the correct order
        with only four moves.
    </p>
    <p>
        <img src="{% static 'puzzle_3_4_good.png' %}" width='200'/>
    </p>
    <p>
        We keep the left column as it is
        (as well as the top row).
    </p>
    <p>
        <img src="{% static 'puzzle_3_4_good_2x2.png' %}" width='133.33'/>
    </p>
    <p>
        Now it's easy to solve the puzzle: move the 8 down, the 5 to the left
        and finally the 6 above. With this method,
        <strong> you only moved the tiles seven times in total </strong>.
    </p>
    <p>
        Since there is a time limit, it is best to solve the puzzle with
        the minimum number of moves.
        <strong> We will define a move as "right" if it makes a puzzle more
            close to the solution, and a move as "wrong" if it makes a
            puzzle farthest from the solution. There are no neutral moves:
            all moves are right or wrong </strong>.
    </p>
    <p>
        <br>
        <strong> In summary: when you solve the puzzle, first,
            arranges the cells of the first row at the top in order
            correct, then proceed by arranging the cells of the column of
            left in the correct order. Always try to reduce the
            as many moves as possible. </strong>
    </p>
    {% next_button %}

{% endblock %}
