{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
      table {
        border-collapse: separate;
        border-spacing: 15px 0;
      }
    </style>
{% endblock %}

{% block title %}
    Instructions for part 4 of 6
{% endblock %}

{% block content %}
    <p>
        <strong> <u> Questions for understanding </u> </strong>: <br>
        Before proceeding, answer the following comprehension questions.
        After answering, click Next.
    </p>
    {% formfield player.uq1 %}
    {% formfield player.uq2 %}
    <table>
        <tbody>
            <tr>
                <td>
                    A <br>
                    <img src="{% static 'puzzle_2_0.png' %}" width='200'/>
                </td>
                <td>
                    B <br>
                    <img src="{% static 'puzzle_goal.png' %}" width='200'/>
                </td>
            </tr>
        </tbody>
    </table>
    {% formfield player.uq3 %}
    {% formfield player.uq4 %}
    <p>
        <img src="{% static 'puzzle_3_3_good.png' %}" width='200'/>
    </p>
    {% formfield player.uq5 %}
    {% formfield player.uq6 %}
    <p>
        <img src="{% static 'puzzle_3_5_good.png' %}" width='200'/>
    </p>
    {% formfield player.uq7 %}
    {% next_button %}

{% endblock %}
