{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Instructions: Slider Puzzle
{% endblock %}

{% block content %}
<head>
  <title></title>
</head>
<body>


  <p>
      <strong> <u> Example 2 </u> </strong>:
  </p>
  <p>
      Now, consider the following puzzle.
  </p>
  <p>
      <img src="{% static 'puzzle_2_0.png' %}" width='200'/>
  </p>
 <p>
      There are 2 moves you can choose from: move the 2 to the right
      or move the 3 up. What move should you make?
  </p>
  <p>
      Note that the only tiles that are not in the correct order are
      the 3 and the 6. So, you'll need to move the 3 up.
  </p>
  <p>
      After moving the 3 up, the puzzle will be identical to the previous example. So you would then move the 6 up and the puzzle
      will be solved.
  </p>

  <!-- {% delayed_next wait=15000%} -->
    {% delayed_next wait=5000 label='NEXT'%}

{% endblock %}
