{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Instructions for part 2 of 3
{% endblock %}

{% block content %}
    <p>
        In this part, <strong> you will choose your partner for part 3 </strong>,
        the last part of the study.
    </p>
    <p>
        While you won't earn anything in this part, it's important to choose
        the best partner possible: in part 3, you will work on new ones
        puzzle for 12 minutes in pairs. You and your partner will move the
        cells of the puzzle in turn until you have solved it, e
        you will earn {{session.config.pt3rate}} € each for each puzzle you solve together.
        In part 3 you and your partner can solve a maximum of 20
        puzzle (so the maximum profit is € 20 each for part 3).
    </p>
    <p>
        In part 2, you will meet <strong> 7 other people </strong> one at a time
        who, like you, participate in this session. With each of these 7
        people you will solve 1 puzzle by moving the tiles in turn, as well as
        you will then do in part 3. One of you will be chosen at random to do the
        first move at the beginning of the puzzle. You will have a <strong> limit of 2
        minutes </strong> for each puzzle.
    </p>
    <p>
        For each of the 7 people you will meet, after solving the puzzle,
        <strong> you will be asked to indicate if you want to work with this person
        also in part 3. You can choose how many people you want among the 7 that
        you will meet. None of the other participants will be informed of the
        your choices in this part </strong>.
    </p>
    <p>
        After meeting the 7 people and indicating your preferences,
        we will check all the choices that you and the other 7 people have made
        and we will assign a partner for Part 3 to each of you. We will proceed
        in the following way:
    </p>
    <ol>
        <li>
            We will randomly select one person from you and the other 7 people.
            For example, let's call this person John.
        </li>
        <li>
            Let's check if John has a "correspondence": that is, if between the
            people that John has indicated there is someone who - in turn -
            chose Giovanni. If there is, then we will make sure that John and
            this person become partner for part 3.
        </li>
        <li>
            If John has more than one match, we will select in a manner
            random one of the matches and we will assign a partner to
            John for part 3.
        </li>
        <li>
            If John didn't choose anyone, or the people that John has
            chosen have not in turn indicated John, or finally, if the
            people who indicated it have already been assigned to a
            partner for part 3, we will put Giovanni on the waiting list e
            we will repeat steps 1-3 above for the other participants up to
            that everyone will have a partner or will be assigned to the waiting list.
        </li>
        <li>
            After all the people have been assigned, we will take who they are
            been placed on the waiting list and we will match them together in a way
            random, so that everyone has a partner for part 3.
        </li>
    </ol>
    <p>
        So, <strong> if you point to a particular person, you may not
        be able to work with that person in part 3 </strong>.
        Therefore, we suggest that you indicate all those with whom you are willing
        to work in part 3.
    </p>
    <p>
        <strong> <u> Questions for understanding </u> </strong>: <br>
        Before proceeding, answer the following comprehension questions.
        After answering, click Next.
    </p>
    {% formfields %}
    {% next_button %}

{% endblock %}
