{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    The puzzle {{group.round_number}} of 7
{% endblock %}

{% block styles %}
    <style type="text/css">
        .slider_game td {
            width: 100px;
            height: 100px;
        }
        .vspace {
            margin-top: 1em;
        }
        .center {
            text-align: center;
        }
    </style>
{% endblock %}


{% block content %}
    <p>
        You solved the puzzle with <strong> {{otherid}} </strong>.
        Are you willing to work with {{otherid}} in part 3?
    </p>
    {% formfields %}
    {% next_button %}

{% endblock %}
