{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Il puzzle {{ group.round_number }} su 7
{% endblock %}

{% block styles %}
    <style type="text/css">
        .slider_game td {
            width: 100px;
            height: 100px;
        }
        .vspace {
            margin-top: 1em;
        }
        .center {
            text-align: center;
        }
    </style>
{% endblock %}


{% block content %}
    <p>
        Hai risolto il puzzle con <strong>{{ otherid }}</strong>.
        Sei disposto a lavorare con {{ otherid }} nella parte 3?
    </p>
    {% formfields %}
    {% next_button %}

{% endblock %}
