{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Performance Estimate
{% endblock %}

{% block content %}
    <p>
        Recall earlier we requested that you keep track of how many of <b>{{va_name}}'s</b> moves were <b>correct.</b>
        We'll now ask for your estimate of this number.
    </p>
    <p>
      [INCENTIVE INFORMATION]
    </p>

    <p>
      Out of <b>{{va_turns}} turns</b>, how many <b>correct moves</b> did <b>{{va_name}}</b> make?
    </p>
    {% formfield player.guess_correct label='' %}
    {% next_button %}

{% endblock %}
